* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 0;
}

.top {
  background-color: #2e0000;
  color: #fff;
  width: 100%;
  line-height: 49px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  z-index: 5;
}
.top .text {
  display: flex;
  margin-left: 3%;
  gap: 15px;
}
.top .text p {
  font-size: 16px;
  font-family: system-ui;
}
.top .text span {
  font-size: 14px;
  font-family: system-ui;
}
.top .right {
  display: flex;
  gap: 20px;
  margin-right: 3%;
}
.top .right img {
  width: 19px;
}
.top .right img:hover {
  transform: re;
}

.header {
  background-image: url(https://images.pexels.com/photos/734428/pexels-photo-734428.jpeg?auto=compress&cs=tinysrgb&w=1600);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 350px;
  transition: all linear 0.35s;
  color: #fff;
}
.header h1 {
  top: 20%;
  width: 40%;
  text-align: center;
  position: absolute;
  font-size: 65px;
  left: 30%;
  color: #fff;
  font-weight: 100;
  opacity: 0.8;
}
.header .input_container {
  display: flex;
  position: relative;
  top: 69%;
  width: 60%;
  gap: 25px;
  left: 10%;
}
.header input {
  margin-left: 25px;
  color: #fff;
  font-size: 20px;
  width: 250px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
  border-color: transparent;
  border-bottom-color: #fff;
}
.header form {
  position: relative;
  line-height: 95px;
}
.header label {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: -32px;
  left: 30px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 100px;
  width: 100%;
}
.nav_left {
  width: 60%;
  margin: 0 auto;
}
.nav_left h2 {
  font-size: 25px;
  color: #fff;
  font-size: 40px;
  font-weight: 100;
  font-family: sans-serif;
  margin-left: 10%;
}
.nav_right {
  width: 30%;
  margin: 0 auto;
  font-size: 20px;
}
.nav_right .item-list li {
  line-height: 40px;
  position: relative;
}
.nav_right .item-list li a {
  text-decoration-line: none;
  color: #fff;
}
.nav_right .item-list li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.4s;
}
.nav_right .item-list li:hover::after {
  transform: scaleX(1);
}
.nav_right ul {
  display: flex;
}
.nav_right ul .drop {
  line-height: 40px;
}
.nav_right ul .drop:hover {
  transition: 0.56s;
}
.nav_right ul .drop:hover .dropdown {
  line-height: 60px;
  visibility: visible;
}
.nav_right ul .drop:hover .dropdown li {
  list-style-type: disclosure-closed;
  margin: 0;
  padding: 0;
  transition: 0.35s;
}
.nav_right ul li {
  margin: auto 20px;
  color: #fff;
  position: relative;
  transition: all linear 0.35s;
  cursor: pointer;
}
.nav_right ul li .dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: -moz-max-content;
  width: max-content;
  visibility: hidden;
  left: 0;
  top: 40px;
  cursor: pointer;
}
.nav_right ul li .dropdown li {
  transition: all linear 0.35s;
}
.nav .underline:hover {
  animation: underline 2s 1;
}

footer {
  background-color: #000;
  width: 100%;
  height: 500px;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
footer .rolax {
  display: flex;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
}
footer .rolax .social {
  display: flex;
}
footer .rolax .social li {
  margin-right: 25px;
}
footer .rolax .social li img {
  width: 20px;
  height: 20px;
}
footer .rolax h2 {
  opacity: 0.7;
  text-decoration: none;
  font-size: 35px;
  font-weight: 400;
  font-family: system-ui;
  color: #ff4949;
  margin-bottom: 20px;
  line-height: 150px;
}
footer .rolax a {
  color: #ff4949;
  opacity: 0.7;
  text-decoration: none;
  font-size: 35px;
  font-weight: 400;
  font-family: system-ui;
}
footer .rolax p {
  font-size: 15px;
  line-height: 40px;
}
footer .rolax h3 {
  font-weight: 100;
  line-height: 150px;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: initial;
}
footer .rolax ul {
  row-gap: 15px;
  font-size: 15px;
  width: 20%;
}
footer .rolax li {
  margin-bottom: 20px;
}
footer .rolax li .submit {
  border: black;
  background: #e29c89;
  width: 290px;
  height: 54px;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}
footer .rolax li .email {
  background: transparent;
  width: 288px;
  height: 46px;
  color: #fff;
  font-size: 16px;
}
footer .rolax .socialicon {
  transition: 1s;
}
footer .rolax .socialicon:hover {
  transform: rotate(360deg);
  scale: 2;
}
footer span {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 40px;
  font-size: 11px;
}
footer span img {
  width: 16px;
  height: 16px;
}
footer span a {
  text-decoration-line: none;
  color: #fff;
  font-size: 17px;
  font-weight: 100;
  font-family: "Times New Roman", Times, serif;
}

.blog_centre {
  width: 70%;
  margin: 7% auto;
}
.blog_centre .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 25px;
}
.blog_centre .container a {
  text-align: center;
  transition: 0.35s;
  text-decoration-line: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 77px;
  height: 89px;
  background-color: #e29c89;
  color: #fff;
  font-family: "Baskervville";
  border-radius: 5%;
  bottom: 32%;
  left: 4%;
  font-weight: 100;
}
.blog_centre .container a:hover {
  color: #e29c89;
  background-color: transparent;
}
.blog_centre .container a h3 {
  font-size: 27px;
}
.blog_centre .container a p {
  font-size: 25px;
}
.blog_centre .container .left .copy {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 20px 0px rgba(221, 221, 221, 0.3);
  position: relative;
  margin-bottom: 25px;
}
.blog_centre .container .left .copy .text {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  padding: 38px 12px 20px 20px;
}
.blog_centre .container .left .copy .text h3 {
  font-size: 30px;
  font-weight: 100;
  transition: 0.35s;
  cursor: pointer;
}
.blog_centre .container .left .copy .text h3:hover {
  color: #e29c89;
}
.blog_centre .container .left .copy .text p {
  font-size: 16px;
  opacity: 0.7;
  font-family: sans-serif;
}
.blog_centre .container .left .copy .text span {
  opacity: 0.7;
  transition: 0.35s;
}
.blog_centre .container .left .copy .text span .icons {
  margin: 0;
}
.blog_centre .container .left .copy .text span .icons:hover {
  cursor: pointer;
  color: #e29c89;
}
.blog_centre .container .right {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.blog_centre .container .right .inputs {
  background-color: #fbf9ff;
  display: flex;
  justify-content: center;
  padding: 25px;
}
.blog_centre .container .right .inputs .intext {
  width: 230px;
  line-height: 44px;
  opacity: 0.3;
  padding-left: 12px;
}
.blog_centre .container .right .inputs .insub {
  width: 120px;
  background-color: #e29c89;
  opacity: 0.7;
  font-size: 18px;
  font-family: auto;
  font-weight: 100;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2117647059);
  cursor: pointer;
  transition: 0.35s;
}
.blog_centre .container .right .inputs .insub:hover {
  color: #000;
  background-color: chocolate;
}
.blog_centre .container .right .list {
  list-style: none;
  padding: 25px;
  background-color: #fbf9ff;
}
.blog_centre .container .right .list ul {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.blog_centre .container .right .list ul h3 {
  font-size: 23px;
  font-weight: 100;
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 12px;
}
.blog_centre .container .right .list ul li {
  transition: 0.35s;
  font-size: 18px;
  opacity: 0.7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 12px;
}
.blog_centre .container .right .list ul li:hover {
  color: #e29c89;
  cursor: pointer;
}
.blog_centre .container .right .list ul .last {
  border: none;
}
.blog_centre .container .right .recent_post {
  padding: 30px;
  background-color: #fbf9ff;
}
.blog_centre .container .right .recent_post h3 {
  font-size: 23px;
  font-weight: 100;
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 12px;
}
.blog_centre .container .right .recent_post .userscomments {
  display: flex;
  gap: 15px;
}
.blog_centre .container .right .recent_post .userscomments img {
  margin-bottom: 15px;
}
.blog_centre .container .right .recent_post .userscomments .comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blog_centre .container .right .recent_post .userscomments .comment h4 {
  font-weight: 100;
  margin-top: -20px;
  font-family: sans-serif;
  transition: 0.35s;
  cursor: pointer;
}
.blog_centre .container .right .recent_post .userscomments .comment h4:hover {
  color: #e29c89;
}
.blog_centre .container .right .recent_post .userscomments .comment p {
  margin-top: 5px;
  opacity: 0.7;
}
.blog_centre .container .right .tags {
  padding: 30px;
  background-color: #fbf9ff;
}
.blog_centre .container .right .tags h3 {
  font-size: 23px;
  font-weight: 100;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 12px;
}
.blog_centre .container .right .tags .tagpage {
  display: inline-block;
  padding: 6px 15px;
  border: 1px solid gray;
  transition: 0.28xs;
  margin: 4px;
  opacity: 0.7;
  font-size: 15px;
  font-family: sans-serif;
  cursor: pointer;
  background-color: #fff;
}
.blog_centre .container .right .tags .tagpage:hover {
  background-color: #e29c89;
  color: #fff;
}
.blog_centre .container .right .inspage {
  padding: 30px;
  background-color: #fbf9ff;
}
.blog_centre .container .right .inspage h3 {
  font-size: 23px;
  font-weight: 100;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 12px;
}
.blog_centre .container .right .inspage .mini {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.blog_centre .container .right .inspage .mini img {
  width: 110px;
  transition: 0.5s;
  cursor: pointer;
}
.blog_centre .container .right .inspage .mini img:hover {
  scale: 1.2;
}
.blog_centre .container .right .newsletter {
  padding: 30px;
  background-color: #fbf9ff;
}
.blog_centre .container .right .newsletter h3 {
  font-size: 23px;
  font-weight: 100;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 12px;
}
.blog_centre .container .right .newsletter .txinp {
  width: 350px;
  height: 50px;
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.0666666667);
  padding-left: 12px;
  opacity: 0.5;
}
.blog_centre .container .right .newsletter .subinp {
  color: #e29c89;
  background-color: #fff;
  font-family: auto;
  width: 362px;
  font-size: 18px;
  transition: 0.35s;
  cursor: pointer;
  height: 50px;
  border: 1px solid #e29c89;
}
.blog_centre .container .right .newsletter .subinp:hover {
  color: #fff;
  background-color: #e29c89;
}/*# sourceMappingURL=blog.css.map */