* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 0;
}
//top
.top {
  background-color: #2e0000;
  color: #fff;
  width: 100%;
  line-height: 49px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  z-index: 5;
  .text {
    display: flex;
    margin-left: 3%;
    gap: 15px;
    p {
      font-size: 16px;
      font-family: system-ui;
    }
    span {
      font-size: 14px;
      font-family: system-ui;
    }
  }
  .right {
    display: flex;
    gap: 20px;
    margin-right: 3%;
    img {
      width: 19px;
      &:hover {
        transform: re;
      }
    }
  }
}
//header
.header {
  background-image: url(https://images.pexels.com/photos/734428/pexels-photo-734428.jpeg?auto=compress&cs=tinysrgb&w=1600);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 350px;
  transition: all linear 0.35s;
  color: #fff;
  h1 {
    top: 20%;
    width: 40%;
    text-align: center;
    position: absolute;
    font-size: 65px;
    left: 30%;
    color: #fff;
    font-weight: 100;
    opacity: 0.8;
  }
  .input_container {
    display: flex;
    position: relative;
    top: 69%;
    width: 60%;
    gap: 25px;
    left: 10%;
  }
  input {
    margin-left: 25px;
    color: #fff;
    font-size: 20px;
    width: 250px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    border-color: transparent;
    border-bottom-color: #fff;
  }
  form {
    position: relative;
    line-height: 95px;
  }
  label {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: -32px;
    left: 30px;
  }
}
//nav
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 100px;
  width: 100%;

  // .nav_left
  &_left {
    width: 60%;
    margin: 0 auto;
    h2 {
      font-size: 25px;
      color: #fff;
      font-size: 40px;
      font-weight: 100;
      font-family: sans-serif;
      margin-left: 10%;
    }
  }

  // .nav_right

  &_right {
    .item-list {
      li {
        a{
            text-decoration-line: none;
            color: #fff;
        }
        line-height: 40px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: #fff;
          bottom: 0;
          left: 0;
          transform-origin: left;
          transform: scaleX(0);
          transition: 0.4s;
        }

        &:hover {
          &::after {
            transform: scaleX(1);
          }
        }
      }
    }
    width: 30%;
    margin: 0 auto;
    font-size: 20px;
    ul {
      display: flex;
      .drop {
        line-height: 40px;

        &:hover {
          transition: 0.56s;
          .dropdown {
            line-height: 60px;
            li {
              list-style-type: disclosure-closed;
              margin: 0;
              padding: 0;
              transition: 0.35s;
            }
            visibility: visible;
          }
        }
      }

      li {
        margin: auto 20px;
        color: #fff;
        position: relative;
        transition: all linear 0.35s;
        cursor: pointer;

        .dropdown {
          position: absolute;
          display: flex;
          flex-direction: column;
          width: max-content;
          visibility: hidden;
          left: 0;
          top: 40px;
          cursor: pointer;

          li {
            transition: all linear 0.35s;
          }
        }
      }
    }
  }
  .underline:hover {
    animation: underline 2s 1;
  }
}
//Footer
footer {
  background-color: #000;
  width: 100%;
  height: 500px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  .rolax {
    display: flex;
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    .social {
      display: flex;
      li {
        margin-right: 25px;
        img {
          width: 20px;
          height: 20px;
        }
      }
    }

    h2 {
      opacity: 0.7;
      text-decoration: none;
      font-size: 35px;
      font-weight: 400;
      font-family: system-ui;
      color: #ff4949;
      margin-bottom: 20px;
      line-height: 150px;
    }
    a {
      color: #ff4949;
      opacity: 0.7;
      text-decoration: none;
      font-size: 35px;
      font-weight: 400;
      font-family: system-ui;
    }
    p {
      font-size: 15px;
      line-height: 40px;
    }
    h3 {
      font-weight: 100;
      line-height: 150px;
      font-size: 30px;
      margin-bottom: 20px;
      font-family: initial;
    }
    ul {
      row-gap: 15px;
      font-size: 15px;
      width: 20%;
    }
    li {
      margin-bottom: 20px;
      .submit {
        border: black;
        background: #e29c89;
        width: 290px;
        height: 54px;
        color: #fff;
        font-size: 17px;
        font-weight: 600;
        cursor: pointer;
      }

      .email {
        background: transparent;
        width: 288px;
        height: 46px;
        color: #fff;
        font-size: 16px;
      }
    }
    .socialicon {
      transition: 1s;
      &:hover {
        transform: rotate(360deg);
        scale: 2;
      }
    }
  }
  span {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    font-size: 11px;
    img {
      width: 16px;
      height: 16px;
    }
    a {
      text-decoration-line: none;
      color: #fff;
      font-size: 17px;
      font-weight: 100;
      font-family: "Times New Roman", Times, serif;
    }
  }
}
.blog_centre {
  width: 70%;
  margin: 7% auto;
  .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
    row-gap: 25px;
    .left {
      .copy {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;

        .text {
          display: flex;
          flex-direction: column;
          row-gap: 20px;
          padding: 20px 12px 20px 0px;
          h3 {
            font-size: 30px;
            font-weight: 100;
            transition: 0.35s;
            cursor: pointer;
            &:hover {
              color: #e29c89;
            }
          }
          p {
            font-size: 15px;
            opacity: 0.7;
            font-family: sans-serif;
          }
          span {
            opacity: 0.7;
            transition: 0.35s;
            margin-right: 10px;
            .icons {
              margin: 0;
              &:hover {
                cursor: pointer;
                color: #e29c89;
              }
            }
          }
        }
        .padtxt {
          line-height: 30px;
          padding: 30px;
          background: rgba(130, 139, 178, 0.1);
          p {
            padding: 30px;
            background-color: #fff;
            border-left: 2px solid;
          }
        }
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      row-gap: 25px;
      .inputs {
        background-color: #fbf9ff;
        display: flex;
        justify-content: center;
        padding: 25px;
        .intext {
          width: 230px;
          line-height: 44px;
          opacity: 0.3;
          padding-left: 12px;
        }
        .insub {
          width: 120px;
          background-color: #e29c89;
          opacity: 0.7;
          font-size: 18px;
          font-family: auto;
          font-weight: 100;
          color: #fff;
          border: 1px solid #00000036;
          cursor: pointer;
          transition: 0.35s;
          &:hover {
            color: #000;
            background-color: chocolate;
          }
        }
      }
      .list {
        list-style: none;
        padding: 25px;
        background-color: #fbf9ff;
        ul {
          display: flex;
          flex-direction: column;
          h3 {
            font-size: 23px;
            font-weight: 100;
            margin-bottom: 25px;
            border-bottom: 1px solid rgb(0 0 0 / 10%);
            padding-bottom: 12px;
          }
          row-gap: 15px;
          li {
            transition: 0.35s;
            font-size: 18px;
            opacity: 0.7;
            border-bottom: 1px solid rgb(0 0 0 / 10%);
            padding-bottom: 12px;

            &:hover {
              color: #e29c89;
              cursor: pointer;
            }
          }
          .last {
            border: none;
          }
        }
      }
      .recent_post {
        padding: 30px;
        background-color: #fbf9ff;
        h3 {
          font-size: 23px;
          font-weight: 100;
          margin-bottom: 25px;
          border-bottom: 1px solid rgb(0 0 0 / 10%);
          padding-bottom: 12px;
        }
        .userscomments {
          display: flex;
          gap: 15px;
          img {
            margin-bottom: 15px;
          }
          .comment {
            display: flex;
            flex-direction: column;
            justify-content: center;
            h4 {
              font-weight: 100;
              margin-top: -20px;
              font-family: sans-serif;
              transition: 0.35s;
              cursor: pointer;
              &:hover {
                color: #e29c89;
              }
            }
            p {
              margin-top: 5px;
              opacity: 0.7;
            }
          }
        }
      }
      .tags {
        padding: 30px;
        background-color: #fbf9ff;
        h3 {
          font-size: 23px;
          font-weight: 100;
          margin-bottom: 40px;
          border-bottom: 1px solid rgb(0 0 0 / 10%);
          padding-bottom: 12px;
        }
        .tagpage {
          display: inline-block;
          padding: 6px 15px;
          border: 1px solid gray;
          transition: 0.28xs;
          margin: 4px;
          opacity: 0.7;
          font-size: 15px;
          font-family: sans-serif;
          cursor: pointer;
          background-color: #fff;
          &:hover {
            background-color: #e29c89;
            color: #fff;
          }
        }
      }
      .inspage {
        padding: 30px;
        background-color: #fbf9ff;
        h3 {
          font-size: 23px;
          font-weight: 100;
          margin-bottom: 40px;
          border-bottom: 1px solid rgb(0 0 0 / 10%);
          padding-bottom: 12px;
        }
        .mini {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 20px;
          img {
            width: 110px;
            transition: 0.5s;
            cursor: pointer;
            &:hover {
              scale: 1.2;
            }
          }
        }
      }
      .newsletter {
        padding: 30px;
        background-color: #fbf9ff;
        h3 {
          font-size: 23px;
          font-weight: 100;
          margin-bottom: 40px;
          border-bottom: 1px solid rgb(0 0 0 / 10%);
          padding-bottom: 12px;
        }
        .txinp {
          width: 350px;
          height: 50px;
          margin-bottom: 15px;
          border: 1px solid #00000011;
          padding-left: 12px;
          opacity: 0.5;
        }
        .subinp {
          color: #e29c89;
          background-color: #fff;
          font-family: auto;
          width: 362px;
          font-size: 18px;
          transition: 0.35s;
          cursor: pointer;
          height: 50px;
          border: 1px solid #e29c89;
          &:hover {
            color: #fff;
            background-color: #e29c89;
          }
        }
      }
    }
  }
}
.rey {
  width: 100%;
  .up {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
    span {
      opacity: 0.7;
      transition: 0.35s;
      margin-right: 10px;
      cursor: pointer;
      &:hover{
        color: #e29c89;
      }
    }
    .sosyal {
      i {
        font-size: 15px;
        margin-left: 15px;
        opacity: 0.4;
        transition: 0.7s;
        cursor: pointer;
        &:hover {
          color: #e29c89;
          scale: 1.3;
        }
      }
    }
  }
  .space {
    display: flex;
    justify-content: space-between;
    .left {
      align-items: center;
      gap: 20px;
      display: flex;
      .pp {
        display: inline-block;
        position: relative;
        background-color: #000;
        .leftbtn {
          position: absolute;
          text-align: center;
          display: none;
        }
        img {
          transition: 0.35s;
          cursor: pointer;
          &:hover {
            opacity: 0.5;
          }
        }
      }

      h4 {
        opacity: 0.5;
      }
      h3 {
        font-weight: 100;
        transition: 0.35s;
        cursor: pointer;
        &:hover {
          color: #e29c89;
        }
      }
    }
    .right {
      align-items: center;
      text-align: right;
      gap: 20px;
      display: flex;
      flex-direction: row;
      .pp {
        display: inline-block;
        position: relative;
        background-color: #000;
        .leftbtn {
          position: absolute;
          text-align: center;
          display: none;
        }
        img {
          transition: 0.35s;
          cursor: pointer;
          &:hover {
            opacity: 0.5;
          }
        }
      }
      h4 {
        opacity: 0.5;
      }
      h3 {
        font-weight: 100;
        transition: 0.35s;
        cursor: pointer;

        &:hover {
          color: #e29c89;
        }
      }
    }
  }
}
.line {
  padding-bottom: 30px;
  border-bottom: 1px solid #00000025;
}
.human {
  padding: 40px 30px;
  background: #fbf9ff;
  margin: 50px 0;
  display: flex;
  align-items: center;
  gap: 20px;

  .foto {
    img {
      border-radius: 36px;
    }
  }
  .yorum {
    display: flex;
    flex-direction: column;
    gap: 10px;
    h3 {
      font-size: 17px;
      font-weight: 700;
      transition: 0.35s;
      opacity: 0.7;
      cursor: pointer;
      font-family: sans-serif;
      &:hover {
        color: #e29c89;
      }
    }
    p {
      opacity: 0.7;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    }
  }
}
.userss {
  margin: 30px 0;
  display: flex;
  gap: 20px;
  .pic {
    img {
      border-radius: 36px;
    }
  }
  .txt {
    opacity: 0.5;
    .above {
      font-size: 17px;
      margin-bottom: 15px;
    }
    .below {
      display: flex;
      justify-content: space-between;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      div {
        display: flex;
      }
      h4 {
        margin-right: 15px;
        font-weight: 100;
        transition: 0.35s;
        cursor: pointer;
        &:hover {
          color: #e29c89;
        }
      }
    }
  }
}
.last {
  padding-bottom: 15%;
  border-bottom: 1px solid #00000024;
}
.inputlar {
  #area {
    width: 98%;
    padding: 10px;
    height: 200px;
    opacity: 0.3;
    font-size: 18px;
  }

  .aaa {
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin: 30px 0;
    // gap: 25px;
    input {
      border: 1px solid #e5e6e9;
      border-radius: 0px;
      height: 48px;
      padding-left: 18px;
      font-size: 13px;
      background: transparent;
      width: 46%;
      opacity: .8;
    }
  }
  .lastinp{
    border: 1px solid #e5e6e9;
    border-radius: 0px;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
    background: transparent;
    width: 98%;
    opacity: .8;
    margin-bottom: 50px;
  }
  .postbtn{
      color: #e29c89;
      background-color: #fff;
      font-family: auto;
      width: 300px;
      font-size: 18px;
      transition: 0.35s;
      cursor: pointer;
      text-transform: uppercase;
      height: 60px;
      border: 1px solid #e29c89;
      &:hover {
        color: #fff;
        background-color: #e29c89;
    }
  }
}
